
 #game-container{
 text-align: center;
 }
#board{
    border: 3px solid;

}
#scoreText{
    font-size: 100px;
}
#reset{
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid orange;
    border-radius: 15px;
}